<section class="builder flex">
  <section class="builder__controls">
    <section class="builder__heading flex">
      <span>Markup maker</span>
    </section>
    <main #builderContainer class="builder__container">
      <section id="root-container" (dblclick)="showEditPropsContainer(convertoToWidget($event.srcElement))" (click)="selectParent(convertoToWidget($event.srcElement))" #rootElement style="width: 100%; height: 100%; display: flex; flex-wrap: wrap; border: 1px solid black;"></section>
    </main>
    <section class="builder__tips flex">
      <p>Click on the element to select as parent</p>
      <p>Blue outline indicates parent element</p>
      <p>Double click the element to edit the props</p>
    </section>
    <section  class="builder__node-ops flex">
      <ng-container *ngIf="editedWidget == null">
        <button (click)="copyNode()">Copy</button>
        <button (click)="removeNode()">Remove</button>
        <button (click)="generateCode()">Generate</button>
      </ng-container>
    </section>
  </section>
  <section *ngIf="!isShowingEditProps(); else editProps" class="builder__widgets">
    <app-widgets-list (addWidget)="addWidget($event)"></app-widgets-list>
  </section>
  <ng-template #editProps>
    <app-widget-props class="builder__widget-editor" (cancelEdit)="cancelEdit()" (applyStyles)="applyStylesForEditWidget($event)" [widget]="editedWidget"></app-widget-props>
  </ng-template>
</section>