.builder {
  width: 100%;
  height: 100%;
}
.builder__controls {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.builder__heading {
  width: 100%;
  height: 7%;
  font-size: 2em;
  span {
    font-weight: bolder;
  }
}
.builder__tips {
  width: 100%;
  height: 5%;
  font-weight: 600;
}
.builder__container {
  height: 81%;
  width: 100%;
  padding: 1.5%;
}
.builder__node-ops {
  height: 7%;
  width: 100%;
}
.builder__node-ops button {
  padding: 1%;
  font-size: 0.9em;
}
.builder__widgets {
  width: 20%;
  height: 100%;
}
.builder__widget-editor {
  @extend .builder__widgets;
}

.widget-editor__form {
  width: 100%;
  height: 100%;
  overflow: auto;
  section {
    width: 100%;
    margin-bottom: 3%;
    label {
      display: block;
    }
    input[type="number"] {
      width: 20%;
    }
  }
}