<section class="builder flex">
  <main class="builder__container">
    <section (dblclick)="showEditPropsContainer($event.srcElement)" (click)="selectParent($event.srcElement)" #rootElement style="width: 100%; height: 100%; display: flex; justify-content: space-evenly; align-items: center; border: 1px solid black;"></section>
  </main>
  <section *ngIf="!isShowingEditProps();else editProps" class="builder__widgets">
    <button *ngFor="let widget of widgets" (click)="widget.method()" class="builder__add-widget">{{widget.text}}</button>
  </section>
  <ng-template #editProps>
    <section class="builder__widget-editor">
      <form [formGroup]="editPropsForm" (ngSubmit)="saveProps()" class="widget-editor__form">
        <section>
          <label for="containerHeight">Height (%)</label>
          <input formControlName="height" type="number" id="containerHeight" />
        </section>
        <section>
          <label for="containerWidth">Width (%)</label>
          <input formControlName="width" type="number" id="containerWidth" />
        </section>
        <section>
          <label for="containerBg">Background Color</label>
          <input formControlName="backgroundColor" type="color" id="containerBg" />
        </section>
        <section>
          <label for="containerPadLeft">Padding Left (%)</label>
          <input formControlName="paddingLeft" type="number" id="containerPadLeft" />
        </section> 
        <section>
          <label for="containerPadRight">Padding Right (%)</label>
          <input formControlName="paddingRight" type="number" id="containerPadRight" />
        </section> 
        <section>
          <label for="containerPadBelow">Padding bottom (%)</label>
          <input formControlName="paddingRight" type="number" id="containerPadBelow">
        </section> 
        <section>
          <label for="containerPadTop">Padding top (%)</label>
          <input formControlName="paddingRight" type="number" id="containerPadTop" />
        </section>
      <button type="button" (click)="hideEditPropsContainer()">Cancel</button>
      <button (click)="saveProps()">Save</button>
      </form>
    </section>
  </ng-template>
</section>