html, body {
  height: 100%;
  width: 100%;
  background-color: lightgreen;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.flex-coldir {
  flex-direction: column;
}